/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/uploads
/public/thumbnail
/public/films_thumbnail
/public/films_trials
/public/films_uploads